[access]
	inheritFrom = GerritForge/gerrit-enterprise-projects
[submit]
[project]
	description = Gerrit Module to allow git refs advertising filtering
[access "refs/*"]
	owner = group GerritForge-git-refs-filter
	owner = group user/Luca Milanesio (lucamilanesio)
	label-Code-Review = -2..+2 group GerritForge-git-refs-filter
	label-Verified = -1..+1 group GerritForge-git-refs-filter
	push = group user/Luca Milanesio (lucamilanesio)
	rebase = group GerritForge-git-refs-filter
	removeReviewer = group GerritForge-git-refs-filter
	submit = group GerritForge-git-refs-filter
[access "refs/tags/*"]
	push = group user/Luca Milanesio (lucamilanesio)
	push = +force group user/Luca Milanesio (lucamilanesio)
